@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800";

@import "../lib/mortar/development/less/settings";
@import "../lib/mortar/development/less/mixins";
@import "../lib/mortar/development/less/base";
@import "../lib/mortar/development/less/grids";
@import "../lib/mortar/development/less/grids-units";
@import "../lib/mortar/development/less/grids-responsive";
@import "../lib/mortar/development/less/icons";
@import "../lib/mortar/development/less/icons-elusive";
@import "../lib/mortar/development/less/icons-font-awesome";
@import "../lib/mortar/development/less/icons-foundation";
@import "../lib/mortar/development/less/icons-ionicons";
@import "../lib/mortar/development/less/icons-meteocons";
@import "../lib/mortar/development/less/icons-metrize";
@import "../lib/mortar/development/less/icons-open-iconic";
@import "../lib/mortar/development/less/icons-typicons";
@import "../lib/mortar/development/less/forms";
@import "../lib/mortar/development/less/buttons";
@import "../lib/mortar/development/less/menus";
@import "../lib/mortar/development/less/tables";
@import "../lib/mortar/development/less/typography";


/* theme styles*/

body {
	font-family: @font-sans;
	margin: 0 0 50px 0;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #265778; /* block-normal-text-normal */
}

.m-button {
	background-color: #0078e7;
	color: #fff;
}


/* custom styles */

.m-slideshow {

    .m-slideshow-container {
        height: 400px;
    }

    &.full-width {
        .m-slideshow-container {
            height: 600px;
        }
    }
}

.slide-message-1, .slide-message-2 {
    margin: 130px auto;
    width: 350px;
    color: white;
    font-size: 25px;   

    .m-button {
        margin-top: 10px;
        font-size: 18px;
    }
}

.slide-message-1 {
    margin-right: 100px;
}

.slide-message-2 {
    text-align: center;
    color: white;
    width: 500px;
    font-size: 30px;
    margin-top: 40px;
    text-shadow: 2px 2px #000;
    // margin-left: 100px;
}


.responsive-slideshow {
    .m-slideshow-container {
        min-height: 600px;

        @media (max-width: @width-lg) { 
            min-height: 350px;
        }

        @media (max-width: @width-md) { 
            min-height: 300px;
        }

        @media (max-width: @width-sm) { 
            min-height: 250px;
        }

        @media (max-width: @width-xs) { 
            min-height: 200px;
        }
    }
}

.responsive-1 {
     // background-image: url('../img/1.jpg');
    background-image: url('../img/1-wide.jpg');

    @media (max-width: @width-lg) { 
        background-image: url('../img/1.jpg');
    }
}

.responsive-2 {
    background-image: url('../img/2-wide.jpg');

    @media (max-width: @width-lg) { 
        background-image: url('../img/2.jpg');
    }
}