@import "../lib/mortar/development/less/mixins";

.m-slideshow {
	position: relative;
	margin-bottom: 20px;

	.m-slideshow-next, .m-slideshow-prev {
		position: absolute;
		cursor: pointer;
		top: 50%;
		height: 50px;
		margin-top: -25px;
		.opacity(0.5);
		z-index: 100;

		&:hover {
			.opacity(1);	
		}

		i {
			font-size: 50px;
			line-height: 50px;
			color: white;
		}
	}

	.m-slideshow-prev {
		left: 10px;
	}

	.m-slideshow-next {
		right: 10px;
	}

	.m-slideshow-caption {
		display: none;
		position: absolute;
		bottom: 0;
		z-index: 100;
		width: 100%;
		.alphaBackground(black, 0.7);
		padding: 15px;
		line-height: 1.5;
		color: white;
		font-size: 14px;
	}

	.m-slideshow-container {
		position: relative;
		margin: 0;
		overflow: hidden;
		display: block;
        min-height: 400px;
	}

	.m-slideshow-slide {
		display: none;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		cursor: pointer;
		width: 100%;
		height: 100%;
		position: absolute;		
		z-index: -10;

		&.active {
			z-index: 0 !important;
			display: block;
		}
	}
}