.m-slideshow {
  position: relative;
  margin-bottom: 20px;
}

.m-slideshow .m-slideshow-next,
.m-slideshow .m-slideshow-prev {
  position: absolute;
  top: 50%;
  z-index: 100;
  height: 50px;
  margin-top: -25px;
  cursor: pointer;
  -webkit-opacity: 0.5;
   -khtml-opacity: 0.5;
     -moz-opacity: 0.5;
          opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
      filter: alpha(opacity=50);
}

.m-slideshow .m-slideshow-next:hover,
.m-slideshow .m-slideshow-prev:hover {
  -webkit-opacity: 1;
   -khtml-opacity: 1;
     -moz-opacity: 1;
          opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
      filter: alpha(opacity=100);
}

.m-slideshow .m-slideshow-next i,
.m-slideshow .m-slideshow-prev i {
  font-size: 50px;
  line-height: 50px;
  color: white;
}

.m-slideshow .m-slideshow-prev {
  left: 10px;
}

.m-slideshow .m-slideshow-next {
  right: 10px;
}

.m-slideshow .m-slideshow-caption {
  position: absolute;
  bottom: 0;
  z-index: 100;
  display: none;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.m-slideshow .m-slideshow-container {
  position: relative;
  display: block;
  min-height: 400px;
  margin: 0;
  overflow: hidden;
}

.m-slideshow .m-slideshow-slide {
  position: absolute;
  z-index: -10;
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.m-slideshow .m-slideshow-slide.active {
  z-index: 0 !important;
  display: block;
}